<div id="bg">
  <img [src]="myImage" alt="" >
</div>
<form [formGroup]="signInForm" (ngSubmit)="signIn()">
  <div class="nes-container with-title card-holder">
    <p class="title">Sign In</p>
    <ng-template pTemplate="header" >
    </ng-template>
    <div [style]="{'margin-top': '2rem', 'margin-left': '20px'}">
      <span class="p-float-label">
      <h5>Username</h5>
        <input formControlName="username" id="float-input" placeholder="Username" type="text" pInputText/>
        <div>
          <small class="text-danger " *ngIf="signInForm.get('username') && !signInForm.get('username')!.valid && signInForm.get('username')!.touched">Username is required!</small>
        </div>  
      <!-- <span class="text-danger" *ngIf="username"></span> -->
      <h5>Password</h5>
      <input formControlName="passwd" placeholder="Password" type="password" pInputText/>
      <!-- <span class="text-danger" *ngIf="passwd"></span> --> 
    </span> 
    <!-- <span class="p-float-label">
          <p-password [(ngModel)]="value2"></p-password>
      <label for="float-input">Username</label>
    </span> -->
    <button type="submit" class=" nes-btn is-primary">Sign In</button>
    <div  [style]="{'margin-left': '20px'}">
      <a style="color: rgb(27, 27, 27); opacity: 0.5; font-size: small;" [routerLink]="'/signUp'">New User? Click to Sign Up!!</a>
    </div>

    </div>
  </div>
</form>
